<h4 class="display-6 fw-bold">Make My Resume</h4>
<p>Please fill the below details to generate your resume</p>

<ng-container *ngIf="!!resumeForm">
    <form [formGroup]="resumeForm" (ngSubmit)="onSubmit(resumeForm.value)">
        <accordion>

            <accordion-group class="mb-4" [isOpen]="true">
                <button
                    class="btn btn-default btn-block justify-content-between d-flex w-100 shadow-none no-border px-0"
                    accordion-heading type="button">
                    <span class="fw-bold">{{resumeSections.PERSONAL_INFORMATION}}</span>
                </button>
                <app-personal-information [personalInformation]="personalInformationForm" [submitted]="submitted">
                </app-personal-information>
            </accordion-group>

            <accordion-group class="mb-4" [isOpen]="true">
                <button
                    class="btn btn-default btn-block justify-content-between d-flex w-100 shadow-none no-border px-0"
                    accordion-heading type="button">
                    <span class="fw-bold">{{resumeSections.EDUCATION_INFORMATION}}</span>
                </button>

                <app-education-information [educationInformation]="educationInformationForm" [submitted]="submitted"
                    (deleteClickEvent)="onDeleteClick($event)" (addClickEvent)="onAddClick($event)">
                </app-education-information>

            </accordion-group>


            <accordion-group class="mb-4" [isOpen]="true">
                <button
                    class="btn btn-default btn-block justify-content-between d-flex w-100 shadow-none no-border px-0"
                    accordion-heading type="button">
                    <span class="fw-bold">{{resumeSections.EXPERIENCE_INFORMATION}}</span>
                </button>

                <app-experience-information [experienceInformation]="experienceInformationForm" [submitted]="submitted"
                    (addClickEvent)="onAddClick($event)" (deleteClickEvent)="onDeleteClick($event)"
                    (changeEvent)="onChangeIsFresher($event)">
                </app-experience-information>

            </accordion-group>


            <accordion-group class="mb-4" [isOpen]="true">
                <button
                    class="btn btn-default btn-block justify-content-between d-flex w-100 shadow-none no-border px-0"
                    accordion-heading type="button">
                    <span class="fw-bold">{{resumeSections.SKILLS_INFORMATION}}</span>
                </button>

                <app-skill-information [parentForm]="resumeForm" [submitted]="submitted"></app-skill-information>

            </accordion-group>

            <accordion-group class="mb-4" [isOpen]="true">
                <button
                    class="btn btn-default btn-block justify-content-between d-flex w-100 shadow-none no-border px-0"
                    accordion-heading type="button">
                    <span class="fw-bold">{{resumeSections.CERTIFICATIONS_INFORMATION}}</span>
                </button>

                <app-certifications-information [certificationsInformation]="certificationsInformationForm"
                    [submitted]="submitted" (addClickEvent)="onAddClick($event)"
                    (deleteClickEvent)="onDeleteClick($event)" (changeEvent)="onChangeIsCertified($event)">
                </app-certifications-information>

            </accordion-group>

            <accordion-group class="mb-4" [isOpen]="true">
                <button
                    class="btn btn-default btn-block justify-content-between d-flex w-100 shadow-none no-border px-0"
                    accordion-heading type="button">
                    <span class="fw-bold">{{resumeSections.INTERESTS_INFORMATION}}</span>
                </button>

                <app-interests-information [parentForm]="resumeForm" [submitted]="submitted">
                </app-interests-information>

            </accordion-group>



        </accordion>

        <button type="submit" class="btn btn-primary mt-2">Submit & Preview</button>
    </form>
</ng-container>