::ng-deep {
    .no-border {

        &:hover,
        &:focus {
            border-color: transparent;
        }
    }

    .invalid-feedback {
        display: block;
    }

    .delete-action {
        color: red;
        font-size: 12px;
        cursor: pointer;
    }

    .mt-36 {
        margin-top: 38px;
    }

    .note {
        color: grey;
        font-size: 13px;
    }

    .m-in-fields {
        margin-top: 0.5rem;

        @media only screen and (max-width: 576px) {
            margin-top: 1.5rem;
        }
    }

    .m-in-exp-fields {
        margin-top: 2.5rem;

        @media only screen and (max-width: 576px) {
            margin-top: 1.5rem;
        }
    }
}